body {
    margin: 0;
}

.title {
    width: 25%;
    margin: 2% auto;
    text-align: center;
    font-size:3em;
}

.space {
    width: 25%;
height:15em;
}
#table{
    width: 50%;
    table-layout: fixed;
    margin:0 auto;
    border-collapse:collapse;
}
#mid-center{
    border: 1px solid black;
}
#top-center{
    border-left:1px solid black;
    border-right:1px solid black;
}
#bot-center{ border-left:1px solid black;
    border-right:1px solid black;

}
#top-left,#top-right{
    border-bottom: 1px solid black;
}
#mid-left,#mid-right{
    border-bottom: 1px solid black;
}

@media only screen and (max-width: 1000px)
{
    .title{
        width:50%;
        font-size:5em;
    }
    #table{
        width:75%;
    }
}
